<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金庸武侠界</title>
    <style>
        .list {
            width: 600px;
            border: 1px solid #000;
            border-collapse: collapse
        }

        .list td {
            padding: 10px;
            border: 1px solid #000;
        }

        .list th {
            padding: 10px;
            border: 1px solid #000;
            font-weight: normal
        }
        p{
            font-weight:bold;
        }
    </style>
</head>
<body>
<p>1、所有图书</p>
<table class="list">
    {% for book in books1 %}
    <tr>
        <th>{{book.id}}</th>
        <td>{{book.btitle}}</td>
        <th>{{book.bcommet}}</th>
        <th>{{book.bread}}</th>
        <td>{{book.bpub_date}}</td>
        <th>{{book.isDelete}}</th>
        <th>{{book.bremark}}</th>
    </tr>
    {% endfor %}
</table>

<p>2、没有逻辑删除</p>
<table class="list">
    {% for book in books2 %}
    <tr>
        <th>{{book.id}}</th>
        <td>{{book.btitle}}</td>
        <th>{{book.bcommet}}</th>
        <th>{{book.bread}}</th>
        <td>{{book.bpub_date}}</td>
        <th>{{book.isDelete}}</th>
        <th>{{book.bremark}}</th>
    </tr>
    {% endfor %}
</table>

<p>3、id==1</p>
<table class="list">
    {% for book in books3 %}
    <tr>
        <th>{{book.id}}</th>
        <td>{{book.btitle}}</td>
        <th>{{book.bcommet}}</th>
        <th>{{book.bread}}</th>
        <td>{{book.bpub_date}}</td>
        <th>{{book.isDelete}}</th>
        <th>{{book.bremark}}</th>

    </tr>
    {% endfor %}
</table>

<p>4、包含"八"</p>
<table class="list">
    {% for book in books4 %}
    <tr>
        <th>{{book.id}}</th>
        <td>{{book.btitle}}</td>
        <th>{{book.bcommet}}</th>
        <th>{{book.bread}}</th>
        <td>{{book.bpub_date}}</td>
        <th>{{book.isDelete}}</th>
        <th>{{book.bremark}}</th>
    </tr>
    {% endfor %}
</table>

<p>5、备注不为空</p>
<table class="list">
    {% for book in books5 %}
    <tr>
        <th>{{book.id}}</th>
        <td>{{book.btitle}}</td>
        <th>{{book.bcommet}}</th>
        <th>{{book.bread}}</th>
        <td>{{book.bpub_date}}</td>
        <th>{{book.isDelete}}</th>
        <th>{{book.bremark}}</th>

    </tr>
    {% endfor %}
</table>

<p>6、id==1, 3</p>
<table class="list">
    {% for book in books6 %}
    <tr>
        <th>{{book.id}}</th>
        <td>{{book.btitle}}</td>
        <th>{{book.bcommet}}</th>
        <th>{{book.bread}}</th>
        <td>{{book.bpub_date}}</td>
        <th>{{book.isDelete}}</th>
        <th>{{book.bremark}}</th>
    </tr>
    {% endfor %}
</table>

<p>9、id != 3</p>
<table class="list">
    {% for book in books9 %}
    <tr>
        <th>{{book.id}}</th>
        <td>{{book.btitle}}</td>
        <th>{{book.bcommet}}</th>
        <th>{{book.bread}}</th>
        <td>{{book.bpub_date}}</td>
        <th>{{book.isDelete}}</th>
        <th>{{book.bremark}}</th>
    </tr>
    {% endfor %}
</table>

<p>10、评论量大于阅读量</p>
<table class="list">
    {% for book in books10 %}
    <tr>
        <th>{{book.id}}</th>
        <td>{{book.btitle}}</td>
        <th>{{book.bcommet}}</th>
        <th>{{book.bread}}</th>
        <td>{{book.bpub_date}}</td>
        <th>{{book.isDelete}}</th>
        <th>{{book.bremark}}</th>
    </tr>
    {% endfor %}
</table>

<p>11、Q对象 复合条件</p>
<table class="list">
    {% for book in books11 %}
    <tr>
        <th>{{book.id}}</th>
        <td>{{book.btitle}}</td>
        <th>{{book.bcommet}}</th>
        <th>{{book.bread}}</th>
        <td>{{book.bpub_date}}</td>
        <th>{{book.isDelete}}</th>
        <th>{{book.bremark}}</th>
    </tr>
    {% endfor %}
</table>

<p>13、聚合函数</p>
<table class="list">
    {{books13}}
    {{ books131 }}
</table>

<p>14、连接查询</p>
<table class="list">
    <!--<tr>-->
        <!--<th>id</th>-->
        <!--<th>title</th>-->
        <!--<th>comment</th>-->
        <!--<th>readed</th>-->
        <!--<th>pub_date</th>-->
        <!--<th>isDelete</th>-->
        <!--<th>remark</th>-->
    <!--</tr>-->
    {% for book in books14 %}
    {% for h in book.heroinfo_set.filter(hcontent__contains='八' %}
        <!--<tr>-->
            <!--<th>{{book.id}}</th>-->
            <!--<td>{{book.btitle}}</td>-->
            <!--<th>{{book.bcommet}}</th>-->
            <!--<th>{{book.bread}}</th>-->
            <!--<td>{{book.bpub_date}}</td>-->
            <!--<th>{{book.isDelete}}</th>-->
            <!--<th>{{book.bremark}}</th>-->
            <!--<th>{{b.hname}}</th>-->
            <!--<th>{{b.hcontent}}</th>-->
        <!--</tr>-->
        <li>{{h.hname}}</li>
        {% endfor %}
    {% endfor %}

    <!--<tr>-->
        <!--<th>{{c.hname}}</th>-->
        <!--<th>{{c.hcontent}}</th>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<th>{{b.hname}}</th>-->
        <!--<th>{{b.hcontent}}</th>-->
    <!--</tr>-->

</table>
</body>